---
# chezmoi:template:left-delimiter="# {{"
# {{/* *** PATHS ************************************* */}}
# {{- $scriptLib := joinPath .chezmoi.workingTree "lib" -}}
# {{/* *********************************************** */}}

# {{/* *** OS INFO *********************************** */}}
# {{- $osReleaseId := .chezmoi.os -}}
# {{- if (and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id")) -}}
# {{-   $osReleaseId = .chezmoi.osRelease.id -}}
# {{- end -}}
# {{- $isAndroid := (eq $osReleaseId "android") -}}
# {{- $isDebian := (eq $osReleaseId "debian") -}}
# {{/* *********************************************** */}}

# {{/* *** CUSTOMIZATIONS **************************** */}}
# {{- $gpgRecipient := promptStringOnce .  "gpg.recipient" "Enter GPG recipient" -}}
# {{- $gitSigningkey := promptStringOnce .  "git.signingkey" "Enter git signingkey" -}}
# {{- $shellType := promptChoiceOnce . "shell.type" "Which shell?" (list "bash" "zsh") "bash" -}}
# {{- $optionalPackages := promptBoolOnce . "packages.installOptional" "Install optional packages?" -}}
# {{/* *********************************************** */}}

# {{/* *** DATA ************************************** */}}

sourceDir: "# {{- .chezmoi.config.sourceDir -}}"
destDir: "# {{- .chezmoi.config.destDir -}}"

encryption: "gpg"
env:
  # LOG_LEVEL: "3"
format: "yaml"
interactive: true

diff:
  command: "delta"
  exclude: [scripts]

gpg:
  recipient: "# {{ $gpgRecipient }}"
  args: [--quiet]

pinentry:
  command: "pinentry-curses"

status:
  exclude: [externals]

data:
  externalRefreshPeriod: "168h"
  scriptLib:
    output: '# {{ joinPath $scriptLib "output.sh" }}'
  gpg:
    recipient: "# {{ $gpgRecipient }}"
  git:
    signingkey: "# {{ $gitSigningkey }}"
  shell:
    type: "# {{ $shellType }}"
  osInfo:
    isAndroid: # {{ $isAndroid }}
    isDebian: # {{ $isDebian }}
  packages:
    installOptional: # {{ $optionalPackages }}
    required:
      - curl
      - git
      - gnupg
      - less
      - vim
      - bat
      - eza
      - git-delta
      - neovim
      # {{ if $isDebian -}}
      - openssh-server
      - readline-common
      # {{ end -}}
