# chezmoi:template:left-delimiter="# {{"

# {{- $needed := list -}}
# {{- $folders := list -}}
# {{- $folders = append $folders ".local/state" -}}

# {{ $homeDir := .chezmoi.homeDir -}}
# {{ range $folders -}}
# {{ $path := joinPath $homeDir . -}}
# {{   if not (stat $path) -}}
# {{     $needed = append $needed $path -}}
# {{   end -}}
# {{ end -}}

# {{ if $needed -}}
# {{ includeTemplate "chezmoiscript" . -}}

log_info "Creating directories..."
mkdir -p # {{ $needed | join " " }}

# {{ end -}}
