# chezmoi:template:left-delimiter="# {{"
# {{ includeTemplate "chezmoiscript" . }}
# {{ $libPath := printf "%s.sh" .osInfo.id -}}

#shellcheck disable=1090
. # {{ joinPath .scriptLib $libPath }}

install() {
  if ! [ "$#" -gt 0 ]; then
    return
  fi

  log_info "Installing $# missing packages:"
  printf ' - %s\n' "$@"

  # {{ $sudo := ternary "1" "0" .isRoot -}}
  install_packages # {{ $sudo }} "$@"
}

#shellcheck disable=2120
check() {
  log_info "Checking for packages:"
  for cmd in "$@"; do
    if ! check_package "$cmd"; then
      # log_warn "$cmd missing"
      printf '%s\n' "$cmd"
    else
      :
      # log_debug " - $cmd ok"
    fi
  done
}

#shellcheck disable=2046
install $(
  # {{ $needed := .packages.required -}}
  check # {{ $needed | join " " }}
)
