# chezmoi:template:left-delimiter="# {{"
# {{ includeTemplate "bash-shebang" . }}

# {{- if (.osInfo.isArch) }}
# {{- $template := "install-arch-packages" }}
# {{- $installed := output "pacman" "-Qeq" | trim }}

install_from_pacman() {
	:
	# {{- $pacman := dict -}}
	# {{- $_ := set $pacman "packages" (concat .packages.common .packages.arch) -}}
	# {{- $_ := set $pacman "installed" $installed -}}
	# {{- $_ := set $pacman "bin" "pacman" -}}
	# {{- $_ := set $pacman "cmd" "sudo pacman -Syu --quiet --noconfirm --needed" -}}
	# {{ includeTemplate $template $pacman | indent 4 }}
}

install_from_yay() {
	:
	# {{- $yay := dict -}}
	# {{- $_ := set $yay "packages" .packages.yay -}}
	# {{- $_ := set $pacman "installed" $installed -}}
	# {{- $_ := set $yay "bin" "yay" -}}
	# {{- $_ := set $yay "cmd" "yay --quiet --noconfirm --needed" -}}
	# {{ includeTemplate $template $yay | indent 4 }}
}

install_yay() {
	# Only install if needed
	if ! command -v yay >/dev/null 2>&1; then
		local tmpdir
		tmpdir=$(mktemp -d)
		git clone https://aur.archlinux.org/yay-bin.git "$tmpdir" &&
			cd "$tmpdir" &&
			makepkg -si &&
			yay -Y --gendb &&
			yay -Syu --devel &&
			yay -Y --devel --save
	else
		info "Yay already installed."
	fi
	echo
}

# Install packages
install_from_pacman
install_yay
install_from_yay

# Update pkgfile database
sudo pkgfile -u

# {{- else }}
info "Not Arch, skipping."
exit
# {{- end }}
