#!/usr/bin/env
# chezmoi:template:left-delimiter="# {{"

# _eza_dirs() {
#   local cur="${COMP_WORDS[COMP_CWORD]}"
#   COMPREPLY=( $(compgen -o nospace -S / -d -- "$cur") )
# }
# complete -F _eza_dirs -o nospace eza
# 
# _ls_dirs() {
#   COMPREPLY=($(compgen -d ${COMP_WORDS[1]}))
# }
# complete -F _ls_dirs ls


